{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block js %}
{% endblock %}


{% block main %}

<p>Use form below to upload your application form:</p>

<form id='upload_form' action="./" method='POST' enctype="multipart/form-data" role="form">
     {{ form.csrf_token }}
    <dl>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.projects_url) }}
        {{ render_field(form.code_url) }}
        {{ render_field(form.resume) }}
    </dl>
    <p>
        <input class='btn btn-primary' type="submit"
         onclick="document.getElementById('upload_form').submit(); this.disabled = 'disabled';">
    </p>
</form>

{% endblock %}
