{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<form action="./" method='POST' enctype="multipart/form-data">
    <p>
        <input type="text" name="first_name" placeholder='First Name' required>
    </p>

    <p>
        <input type="text" name="last_name" placeholder='Last Name' required>
    </p>

    <p>
        <input type="url" name="projects_url" placeholder='Project url' required>
    </p>

    <p>
        <input type="url" name="code_url" placeholder='Code Url' required>
    </p>

    <p>
        Resume: <input type="file" name='resume'>
    </p>
    <p>
        <input type="submit">
    </p>

</form>
{% endblock %}
